body {
  padding: 8px;
  background-color: #BCA4DA;
  max-width: 1000px;
  margin: auto;
}

.rounded-corners{
  border-radius: 5px;
}

.nav-list {
  background-color: grey;
  list-style-type: none;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 0px;
}

.nav-link {
  background-color: grey;
  padding: 15px;
  display: inline;
}

.nav-link a {
  color: white;
  text-decoration: none;
  padding: 20px;
  text-align: center;
}
 
 .active {
  background-color: black;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
 }
 
 .page-body{
  max-width: 800px;
  text-align: center;
  margin: auto;
}

.resume{
  padding: 10px;
  background-color: #F5EFE0;
}

.resume h1{
  color: #DE7A02;
}

.resume-header p{
  font-variant: small-caps;
  text-align: left;
  margin: 0px;
}

.resume-section {
  text-align: left;
}

.resume-subheader{
  color: #DE7A02;
  font-weight: bold;
  width: 15%;
  float: left;
  padding: 8px;
}

.resume-text{
  float: right;
  width: 75%;
  padding: 8px;
}

.row:before, .row:after {content: ""; display: table;}
.row:after{ clear: both; }