<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Lexi Galantino</title>
    <link href="https://fonts.googleapis.com/css?family=Ovo|Source+Sans+Pro" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/stylesheet.css" />
    <link rel="shortcut icon" href="/corgiclipart.png" />
  </head>
  <body>
    <nav>
      <ul class="nav-list rounded-corners">
        <li class="nav-link rounded-corners"> <a href="/">Home</a> </li>
        <li class="nav-link"> <a href="/developer/resume"> Resume </a> </li>
        <li class="nav-link"> <a href="/developer/projects">Projects </a> </li>
      </ul>
    </nav>
    {{ content }}
  </body>
</html>
